.main{
    height: 100vh;
    background-color: #F9FFE7;
}
.btn-add-note{
  margin: 25px 10px 25px auto;
  padding: 10px 50px 10px 50px;
    height: 46px;
    width: 180px;
}
.form-control{
  margin-bottom: 25px;
}
.btn-del-note{
  margin: 25px 10px 25px auto;
  padding: 10px 25px 10px 25px;
    height: 46px;
    width: 180px;
}
.btn-edit-note{
    margin: 25px 10px 25px auto;
    padding: 10px 39px 10px 39px;
    height: 46px;
    width: 180px;
}
.btn-item{
    padding: 0px 5px 0px 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.item-note{
    border: 2px solid  #EEFBD2;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #B8D7CD;
    height: 110px;
    min-width: 280px;
}
h4{
    text-align: center;
}
.modal-view{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal-view.active{
    opacity: 1;
    pointer-events: all;
}
.view-content{
    background-color: #FEFAFF;
    padding: 40px;;
    min-width: 75%;
    min-height: 75%;
    border-radius: 10px;
    opacity: 1;

}
img{
    float: right;
    width: 40px;
}
